.home-container .logo{
  width: 12vh;
  margin: 10px;
}


.home-container{
  position: relative;
}

.home-container .tmap{
  background-size: cover;
  height: 100vh;
}

.floater-container{
  position: absolute;
  bottom: 0;
  min-height: 400px;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.31);
}

.floater-container .floater-inside{
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
}

.floater-container .back-button{
  width: 50px;
  height: 50px;
  margin-top:15px;
  border: none;
  display: none;
  background-color: white;
}
.floater-container .back-button img{
  width: 30px;
}

.floater-inside .floater-header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.floater-container .floater-inside input{
  width: 90%;
  padding: 10px;
  padding-left: 20px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.102);
  font-size: large;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);

}

.floater-container .floater-inside .floater-button{
  width: 90%;
  padding: 10px;
  height: 60px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: larger;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  border-radius: 20px;
}

.panel-open{
  animation-name: move-up;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: both;
}

.panel-close{
  animation-name: move-up;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation-fill-mode: both;
  animation-direction: reverse;
}


.floater-inside .link-inputs{
  position: absolute;
  width: 4px;
  height: 60px;
  border-radius: 20px;
  background-color: black;
  transform: translateX(10px);
}


.floater-container .floater-suggestions{
  height: 100vh;
  margin-top: 20px;
  background-color: white;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.294);
  border-radius: 20px;
}

.driver-options-container{
  z-index: 10;
}

.driver-types{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.driver-types .driver-type-tag img{
  width: 120px;
}

.driver-types .driver-type-tag{
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}

.driver-types .driver-type-tag:active{
  outline: 2px solid black;

}

.driver-types .driver-type-tag .driver-type-info{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.driver-types .driver-type-tag .driver-type-info p{
  margin: 0;
}
.driver-types .driver-type-tag .driver-type-info h2{
  margin: 0;
}
.driver-types .driver-type-tag .driver-type-price{
  font-weight: 500;
  font-size:24px;
}

.confirm-ride{
  z-index: 20;
}

.ride-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loc-details{
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.294);
}
.waiting{
  z-index: 30;
}

@keyframes move-up {
  0%{
    height: 400px;
  }
  100%{
    height:100vh;
  }
}