
.start-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.background{
  position: relative;
  height: 80vh;
}

.background .logo{
  width: 15vh;
  position: absolute;
  margin: 20px 0 0 20px;

}
.background .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-nav{
  font-size: larger;
  font-weight: 500;
  transform: translateX(2.5%);
}

.footer-nav h2{
  margin-bottom: 5px;
}
